body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

h2,
h3,
h4 {
  font-family: "Exo", sans-serif;
}
p {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
}
#main-icon {
  position: relative;
  top: -30px;
  max-width: 150px;
}

input.btn-orange {
  background-color: #ffa726;
  border: none;
  height: 38px;
  font-weight: 600;
}

input.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background-color: #e89923;
  color: #fcfcfc;
}

.line {
  border-top: 2px solid #70ca74;
}
.next-days {
  font-size: 15px;
  color: #e5b062;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 5px;
}
#search-city {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#city-input {
  border: 1px solid #70ca74;
}
p.card-text {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 300;
  color: rgb(106, 108, 108);
}
p.card-time {
  font-size: 15px;
  font-weight: 300;
  color: rgb(106, 108, 108);
}

.main-temperature {
  font-size: 42px;
  margin: 10px 0px 10px;
}
.col-12 {
  text-align: center;
}
.col-sm-4 {
  display: block;
  margin: 0 auto;
}
.units {
  font-size: 15px;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 50px 100px 30px;
  background-color: rgb(246, 248, 249);
  color: #223444;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid #70ca74;
}

.mx-auto {
  border: 5px solid #70ca74;
  border-radius: 5px;
  padding: 0px 10px 5px;
}
.mx-auto .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.card-title {
  position: relative;
  top: -30px;
  color: rgb(15, 15, 16);
  font-size: 25px;
}
p.description {
  margin-top: -40px;
  font-size: 15px;
}
p.description:first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 15px;
}
